.advantages__title {
  @include title;
  margin: 0;
  margin-bottom: 28px;
  font-size: 25px;
  line-height: 1.2em;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  position: relative;
  width: 44%;
  padding-top: 70px;
  padding-bottom: 63px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 38px;
    content: "";
  }
}

.advantages__item--flover-icon::before {
  background-image: url("../img/icon-flover.svg");
  background-repeat: no-repeat;
}

.advantages__item--money-icon::before {
  background-image: url("../img/icon-money.svg");
  background-repeat: no-repeat;
}

.advantages__item--heart-icon::before {
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
}

.advantages__item--yarn-icon::before {
  background-image: url("../img/icon-yarn.svg");
  background-repeat: no-repeat;
}

.advantages__item--rocket-icon::before {
  background-image: url("../img/icon-rocket.svg");
  background-repeat: no-repeat;
}

.advantages__item--gift-icon::before {
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15%;
  }

  .advantages__title {
    margin-bottom: 41px;
    font-size: 43px;
  }

  .advantages__item {
    width: 80%;
    font-size: 20px;
  }

  .advantages__item--flover-icon {
    order: 1;
  }

  .advantages__item--money-icon {
    order: 3;
  }

  .advantages__item--heart-icon {
    order: 5;
  }

  .advantages__item--yarn-icon {
    order: 2;
  }

  .advantages__item--rocket-icon {
    order: 4;
  }

  .advantages__item--gift-icon {
    order: 6;
  }
}

@media (min-width: $desktop-width) {
  .advantages__title {
    margin-bottom: 39px;
  }

  .advantages__container {
    max-width: 700px;
  }
}
