.advantages {
  margin-bottom: 58px;
}

.advantages__title {
  @include title;
  margin: 0;
  margin-bottom: 82px;
  font-size: 25px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item:not(:last-child) {
  padding-bottom: 83px;
}

.advantages__item {
  position: relative;
  width: 44%;

  &::before {
    position: absolute;
    top: -55px;
    left: 0;
    width: 55px;
    height: 38px;
    content: "";
  }
}

.advantages__item--flover-icon::before {
  background-image: url("../img/icon-flover.svg");
  background-repeat: no-repeat;
}

.advantages__item--money-icon::before {
  background-image: url("../img/icon-money.svg");
  background-repeat: no-repeat;
}

.advantages__item--heart-icon::before {
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
}

.advantages__item--yarn-icon::before {
  background-image: url("../img/icon-yarn.svg");
  background-repeat: no-repeat;
}

.advantages__item--rocket-icon::before {
  background-image: url("../img/icon-rocket.svg");
  background-repeat: no-repeat;
}

.advantages__item--gift-icon::before {
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    column-gap: 15%;
  }

  .advantages__title {
    margin-bottom: 92px;
    font-size: 43px;
  }

  .advantages__item {
    width: 80%;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__container {
    max-width: 700px;
  }
}
