.card:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.card:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.card__link-image {
  display: block;
  padding-bottom: 24px;
}

.card__title {
  @include title;
  margin: 0 28px;
  margin-bottom: 6px;
  padding: 0;
  width: 200px;
  height: max-content;
  font-size: 17px;
  line-height: 24px;
}

.card__title:hover {
  opacity: 0.6;
}

.card__title:active {
  opacity: 0.3;
}

.card__text {
  @include text;
  margin: 0 28px;
  margin-bottom: 15px;
  padding: 0;
  padding-bottom: 17px;
  height: max-content;
  font-size: 13px;
  line-height: 30px;
  color: $gray-dark;
  border-bottom: 1px solid $red-light;
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  margin: 0 28px;
}

.card__price {
  @include title;
  font-size: 15px;
  line-height: 24px;
}

.card__button {
  border: none;
  color: $black;
  opacity: 0.2;
}

.card__button:hover {
  color: $green;
  opacity: 1;
}

.card__button:active {
  color: $green-light;
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .card__title {
    margin-top: 27px;
  }

  .card__link-image {
    grid-column: 1;
    grid-row: 1 / 4;
    padding: 0;
  }

  .card__image {
    height: 100%;
  }
}

@media (min-width: $desktop-width) {
  .card__link-image {
    grid-row: auto;
    padding: 0;
  }
}
