.card:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.card:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.card__link-image {
  display: block;
}

.card__image {
  width: 100%;
  height: 100%;
}

.card__info {
  padding: 10px 28px 10px;
}

.card__link-text {
  display: block;
  margin-top: 0.82rem;
  padding-bottom: 17px;
  border-bottom: 1px solid $red-light;
}

.card__title {
  @include title;
  margin: 0;
  margin-bottom: 0.4rem;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
}

.card__title:hover {
  opacity: 0.6;
}

.card__title:active {
  opacity: 0.3;
}

.card__text {
  @include text;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 30px;
  color: $gray-dark;
}

.card__order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  margin: 22px 0 18px;
}

.card__price {
  @include title;
  margin: 0;
  font-size: 15px;
  line-height: 24px;
}

.card__button {
  border: none;
  color: $black;
  opacity: 0.2;
}

.card__button:hover {
  color: $green;
  opacity: 1;
}

.card__button:active {
  color: $green-light;
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 33px;
    grid-row: 1/4;
  }

  .card__link-image {
    max-height: 462px;
    grid-column: 1;
    grid-row: 1 / 4;
  }

  .card__link-text {
    margin-top: 1.7rem;
    flex-grow: 1;
  }

  .card__title {
    max-width: 90%;
    font-size: 20px;
    line-height: 24px;
  }

  .card__text {
    font-size: 15px;
    line-height: 30px;
  }

  .card__order {
    margin: 25px 0 27px;
  }

  .card__price {
    font-size: 17px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .card__info {
    grid-row: auto;
    padding: 15px 29px;
  }

  .card__title {
    margin: 0;
    margin-bottom: 3%;
    padding: 0;
  }

  .card__link-text {
    min-height: 6rem;
    margin-top: 0.7rem;
    padding: 0;
  }
}
