.catalog__title {
  @include title;
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  padding: 74px 42px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: $anti-flash-white;
}

.catalog__list {
  list-style: none;
}

.catalog__item {
  margin: 0 auto;
  margin-bottom: 30px;
  border: 1px solid $red-light;
}

@media (min-width: $tablet-width) {
  .catalog__title::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 24px;
    background-image: url("../img/icon-zigzag.png");
    background-repeat: repeat-x;
  }

  .catalog__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: grid;
    margin-bottom: 57px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  .catalog__item {
    margin: 0;
    grid-template-columns: auto;
  }
}
