.control__span {
  position: relative;
  cursor: pointer;
}

.control__radio::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -58px;
  width: 42px;
  height: 42px;
  border: 2px solid $gray-dark;
  border-radius: 50%;
}

.control__input:checked ~ .control__radio::before {
  background-image: url("../img/icon-circle.svg");
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
}

.control__radio:hover::before {
  border-color: $palegreen-light;
}

.control__radio:active::before {
  border-color: $black-light;
}

.control__checkbox::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -58px;
  width: 38px;
  height: 38px;
  border: 2px solid $gray-dark;
}

.control__input:checked ~ .control__checkbox::before {
  background-image: url("../img/icon-chek.svg");
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
}

.control__checkbox:hover::before {
  border-color: $palegreen-light;
}

.control__checkbox:active::before {
  border-color: $black-light;
}
