.contacts {
  margin-bottom: 39px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 28px;
  @include title;
  font-size: 25px;
}

.contacts__list {
  margin-bottom: 62px;
}

.contacts__subtitle {
  @include text;
  font-size: 14px;
  line-height: 30px;
  color: $gray-dark;
}

.contacts__description {
  @include text;
  font-size: 14px;
  line-height: 30px;
  color: $gray-dark;
}

.contacts__mail {
  padding-bottom: 10px;
  border-bottom: 1px solid $palegreen-light;
  color: $gray-dark;
}

.contacts__map {
  margin-bottom: 42px;
}
