.copyright__title {
  @include title;
  margin: 0;
  font-size: 19px;
  line-height: 18px;
}

.copyright__link-icon {
  margin-top: 3px;
  fill: $green;
}

.copyright__link-icon:hover {
  fill: $palegreen;
}

.copyright__link-icon:active {
  fill: $palegreen;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .copyright__title {
    margin-top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__link-icon {
    margin: 0;
  }
}
