.copyright__title {
  @include title;
  margin: 0;
  font-size: 19px;
  line-height: 18px;
}

.copyright__link-icon {
  color: $green;
}

.copyright__link-icon:hover {
  color: $palegreen;
}

.copyright__link-icon:active {
  color: $palegreen;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .page-footer__copyright {
    margin: 0;
    padding: 0;
  }
}
