.copyright__title {
  margin: 0;
  @include title;
  font-size: 19px;
  line-height: 18px;
}

.copyright__link--icon {
  color: $green;
}

@media (min-width: $tablet-width)  {
  .page-footer__copyright {
    margin: 0;
    padding: 0;
  }
}
