.featured {
  margin-bottom: 73px;
}

.featured__title {
  @include title;
  margin: 0;
  padding: 0;
  padding-bottom: 4px;
  font-size: 25px;
}

.featured__subtitle {
  @include title;
  margin: 0;
  padding: 0;
  padding-bottom: 17px;
  font-size: 17px;
  line-height: 20px;
  color: $green;
}

.featured__text {
  @include text;
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
  font-size: 15px;
  line-height: 24px;
  color: $gray-dark;
}

.featured__list {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.featured__options {
  @include text;
  padding: 5px 0;
  width: auto;
  font-size: 15px;
  color: $gray-dark;
  border-bottom: 1px solid $red-light;
}

.featured__description {
  @include text;
  margin: 0;
  padding: 5px 0;
  width: auto;
  font-size: 15px;
  color: $gray-dark;
  border-bottom: 1px solid $red-light;
}

.featured__image {
  display: flex;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 100%;
  height: auto;
}

.featured__price {
  @include title;
  margin: 0;
  padding-bottom: 24px;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: $gray-dark;
}

.featured__button {
  width: fit-content;
}

@media (min-width: $tablet-width) {
  .featured__header {
    display: flex;
    justify-content: space-between;
  }

  .featured__aside {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .featured__image {
    grid-row: 1 / 4;
    grid-column: 2;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .featured__header {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 5fr;
  }

  .featured__title {
    order: 1;
  }

  .featured__aside {
    grid-template-columns: 1fr 2fr 3fr;
  }

  .featured__text {
    padding-top: 100px;
    grid-column: 2;
  }

  .featured__list {
    grid-column: 2;
  }

  .featured__image {
    grid-column: 3;
  }

  .featured__price {
    grid-column: 2;
  }

  .featured__button {
    grid-column: 2;
  }
}
