.featured {
  margin-bottom: 73px;
}

.featured__title {
  @include title;
  margin: 0;
  padding: 0;
  padding-bottom: 4px;
  font-size: 25px;
}

.featured__subtitle {
  @include title;
  margin: 0;
  padding: 0;
  padding-bottom: 17px;
  font-size: 17px;
  line-height: 20px;
  color: $green;
}

.featured__text {
  @include text;
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
  font-size: 15px;
  line-height: 24px;
  color: $gray-dark;
}

.featured__list {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 0;
}

.featured__options {
  @include text;
  padding: 5px 0;
  width: auto;
  font-size: 15px;
  color: $gray-dark;
  border-bottom: 1px solid $red-light;
}

.featured__description {
  @include text;
  margin: 0;
  padding: 5px 0;
  width: auto;
  font-size: 15px;
  color: $gray-dark;
  border-bottom: 1px solid $red-light;
}

.featured__image {
  display: flex;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 100%;
  height: auto;
}

.featured__price {
  @include title;
  margin: 0;
  padding-bottom: 24px;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: $gray-dark;
}

.featured__button {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .featured {
    position: relative;
  }

  .featured::after {
    content: "";
    position: absolute;
    bottom: -55px;
    left: 0;
    width: 100%;
    height: 24px;
    background-image: url("../img/icon-line.png");
    background-repeat: repeat-x;
  }

  .featured__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .featured__title {
    font-size: 43px;
  }

  .featured__text {
    width: 75%;
    font-size: 17px;
  }

  .featured__aside {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
  }

  .featured__list {
    margin-right: 42px;
    margin-bottom: 70px;
  }

  picture .featured__image {
    margin: 0;
  }

  .featured__order {
    margin-right: 42px;
  }

  .featured__price {
    font-size: 20px;
  }

  .featured__button {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .featured__header {
    position: absolute;
    display: grid;
    grid-template-columns: min-content 1fr;
    top: 61px;
    z-index: 1;
  }

  .featured__title {
    order: 1;
    font-size: 53px;
  }

  .featured__subtitle {
    margin: 0 52px;
    text-align: center;
  }

  .featured__aside {
    grid-template-columns: 1fr 1fr;
  }

  .featured__text {
    width: 57%;
    margin-top: 160px;
    margin-left: 176px;
    padding-bottom: 0;
  }

  .featured__list {
    margin-left: 176px;
  }

  .featured__image {
    grid-column: 2;
  }

  .featured__order {
    margin-left: 176px;
  }
}
