.filter-group {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.filter-checkbox {
  margin-bottom: 0;
}

.filter-form {
  margin-bottom: 11px;
}

.filter-contact {
  margin-bottom: 14px;
}

.filter-contact-container:first-child {
  margin-bottom: 0.8rem;
}

.filter-aside {
  margin-bottom: 14px;
}

.filter-container {
  border: none;
}

.filter-group__title {
  display: flex;
  width: 100%;
  margin-bottom: 24px;
  color: $green;
  text-transform: uppercase;
}

.filter-radio-label {
  position: relative;
  display: block;
  cursor: pointer;
  line-height: 19px;
}

.filter-radio-label::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -60px;
  width: 40px;
  height: 40px;
  border: 2px solid $gray-dark;
  border-radius: 50%;
}

.filter-radio-input:checked + .filter-radio-label::before {
  background-image: url("../img/icon-circle.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
}

.filter-radio-label:hover::before {
  border-color: $palegreen-light;
}

.filter-radio-label:active::before {
  border-color: $black-light;
}

.filter-checkbox-container .filter-group__title {
  margin-bottom: 31px;
}

.filter-group__title::after {
  content: "";
  display: block;
  margin: auto;
  margin-left: 19px;
  flex-grow: 1;
  border-bottom: 1px solid $green;
}

.filter-group__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.filter-group__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-checkbox-list {
  padding-left: 60px;
}

.filter-radio-item {
  display: flex;
  align-items: center;
  margin-top: 0.6rem;
  margin-left: 3.7rem;
  margin-bottom: 0.6rem;
  min-height: 37px;
}

.filter-checkbox-item {
  margin-bottom: 2.65rem;
}

// Форма ввода данных
.filter-form-title {
  margin-bottom: 1.4rem;
}

.filter-form-list {
  padding: 0;
}

.filter-form-item {
  display: flex;
  flex-direction: column;
}

.filter-form-label {
  font-family: inherit;
  font-style: normal;
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 14px;
}

.filter-contact-title {
  margin-bottom: 15px;
}

.filter-form-input {
  @include text;
  width: 100%;
  margin-bottom: 22px;
  padding-bottom: 11px;
  border: none;
  border-bottom: 2px solid $black;
  font-size: 17px;
  background-color: transparent;
  outline: none;
}

.filter-form-input:hover,
.filter-form-input:active {
  border: none;
  border-bottom: 2px solid $palegreen-light;
}

.filter-form-input:active {
  color: $gray-dark;
}

.filter-group__icon {
  position: absolute;
  top: 2.2rem;
  right: 8px;
  fill: $black;
  opacity: 0.2;
}

.filter-form-input:hover ~ .filter-group__icon {
  fill: $palegreen-light;
  opacity: 1;
}

.filter-form-phone {
  position: relative;
}

.filter-aside-title {
  margin-bottom: 18px;
}

.filter-group__textarea {
  @include text;
  width: 100%;
  min-height: 142px;
  resize: none;
  padding: 17px;
  line-height: 18px;
  font-size: 17px;
  border: 2px solid $gray-dark;
}

.filter-group__textarea:hover,
.filter-group__textarea:active {
  border: 2px solid $palegreen-light;
  outline: none;
}

.filter__text {
  @include text;
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  color: $gray-dark;
}

.filter__button {
  width: 100%;
  padding: 16px 10px;
  font-size: 17px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .filter-group {
    padding: 45px 0 19px;
    margin-bottom: 0;
  }

  .filter-group:nth-child(2n) {
    background-color: $anti-flash-white;
  }

  .filter-checkbox {
    padding: 66px 0 24px;
  }

  .filter-form {
    padding: 68px 0 13px;
  }

  .filter-radio-label::before {
    top: -17px;
    left: -76px;
    width: 50px;
    height: 50px;
  }

  .filter-radio-input:checked + .filter-radio-label::before {
    background-size: 21px 21px;
  }

  .filter-radio-label {
    font-size: 19px;
    line-height: 18px;
  }

  .filter-contact {
    padding: 65px 0 27px;

    .filter-container {
      grid-template-columns: none;
    }

    .filter-contact-title {
      width: 34%;
    }
  }

  .filter-aside {
    padding: 65px 0 53px;
  }

  .filter-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .filter-group__container {
    // margin-top: -54px;
    flex-direction: row;
  }

  .filter-group__title {
    width: 25%;
  }

  .filter-group__title::after {
    display: none;
  }

  .filter-group__list {
    margin-top: -3.8rem;
    margin-left: 2.6rem;
    grid-column: 2 / -1;
  }

  .filter-radio-item {
    margin-left: 2.3em;
    margin-bottom: 2.4rem;
  }

  .filter-checkbox-list {
    display: grid;
    margin-top: -3.2rem;
    margin-left: 1.3rem;
    grid-template-columns: 1fr 1fr;
    column-gap: 6.4rem;
    row-gap: 1rem;
  }

  .filter-form-label {
    margin-right: 1.5rem;
    font-size: 19px;
    line-height: 18px;
  }

  .filter-form-list {
    margin-top: -49px;
    margin-left: 0;
  }

  .filter-form-item {
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 1rem;
  }

  .filter-form-input {
    margin-bottom: 21px;
    padding: 0 17px 12px;
    font-size: 19px;
    line-height: 18px;
  }

  .filter-contact-container:first-child {
    margin-bottom: 1.2rem;
  }

  .filter-contact-list:first-child {
    margin-top: -2px;
  }

  .filter-contact-list:nth-child(2) {
    margin-top: -38px;
  }

  .filter-group__icon {
    top: 2px;
    right: 23px;
  }

  .filter-group__textarea {
    margin-top: -52px;
    padding: 14px;
    grid-column: 2/-1;
    font-size: 19px;
    line-height: 18px;
  }

  .filter-container-order {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    column-gap: 16%;
  }

  .filter__text {
    margin: auto 0;
    grid-column: 2;
    text-align: end;
    font-size: 17px;
    line-height: 30px;
  }

  .filter__button {
    width: auto;
    height: max-content;
    padding: 15px 25px;
    grid-column: 1;
    grid-row: 1;
  }
}

@media (min-width: $desktop-width) {
  .filter-group {
    padding: 30px 0 18px;
  }

  .filter-checkbox {
    padding: 67px 0 24px;
  }

  .filter-form {
    padding: 69px 0 12px;
  }

  .filter-contact {
    padding: 65px 0 29px;

    .filter-contact-container:first-child {
      margin-bottom: 1.1rem;
    }

    .filter-contact-title {
      width: 40%;
    }
  }

  .filter-aside {
    padding: 65px 0 50px;
  }

  .filter-group__title {
    width: 15%;
    margin-left: 3.7rem;
  }

  .filter-radio-item {
    margin-bottom: 2.4rem;
  }

  .filter-container {
    grid-template-columns: 0.5fr repeat(2, 1fr) 0.5fr;
  }

  .filter-checkbox-list {
    grid-template-columns: repeat(3, 0.28fr);
    column-gap: 6rem;
    row-gap: 1rem;
  }

  .filter-form-list {
    grid-column: 2/4;
  }

  .filter-contact-list {
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.25fr;

    .filter-form-input {
      grid-column: 2/3;
    }
  }

  .filter-group__icon {
    top: 0;
    right: 11.3rem;
  }

  .filter-group__textarea {
    padding: 14px;
    grid-column: 2/4;
  }

  .filter-container-order {
    max-width: 702px;
    column-gap: 20%;
  }
}
