.navigation-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  box-shadow: 0 1px 0 $gray-light, inset 0 1px 0 $gray-light;
}

.navigation-main__logo {
  margin: 0 auto;
  padding: 22px;
  grid-column: 2;
}

.navigation-main__button {
  display: flex;
  justify-self: flex-end;
  width: 20px;
  height: 14px;
  padding: 0;
}
