.navigation {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0;
}

.navigation__logo {
  margin: auto;
  padding: 22px;
  padding-left: 20px;
  padding-bottom: 19px;
  grid-column: 2;
}

.navigation__logo-image {
  min-width: 85px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.2;
  }
}

.navigation__button {
  display: flex;
  justify-self: flex-end;
  position: absolute;
  top: 32px;
  right: 21px;
  width: 30px;
  height: 17px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.page-header__closed .navigation__button::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 6px 0 0 $black, 0 12px 0 $black;
}

.page-header__opened .navigation__button {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: -3px;
    width: 26px;
    height: 2px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.navigation__list {
  margin: 0;
  padding: 0;
  grid-column: 1/-1;
  list-style: none;
}

.navigation__item {
  padding: 26px 0 23px;
  text-align: center;
  box-shadow: inset 0 1px 0 $red-light;
}

.navigation__link {
  @include title;
  font-size: 17px;

  &:hover {
    color: $black-medium;
  }

  &:active {
    color: $black-light;
  }
}

.navigation__link-icon {
  opacity: 0.2;
}

.navigation__link:hover .navigation__link-icon {
  fill: $green;
  opacity: 0.6;
}

.navigation__link:active .navigation__link-icon {
  fill: $green-light;
  opacity: 1;
}

.navigation-additional__link {
  font-size: 15px;

  &:hover,
  &:focus {
    color: $black-medium;
  }

  &:active {
    color: $black-light;
  }
}

@media (max-width: $mobile-width-only) {
  .navigation__list {
    position: absolute;
    z-index: 1;
    top: 100%;
    width: 100%;
    background-color: $white;
  }

  .site-navigation .navigation__item {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
    text-align: start;
  }

  .user-navigation {
    top: 300%;
  }

  .user-navigation .navigation__item {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: start;
  }

  .navigation__search-text,
  .navigation__cart--text {
    padding-left: 1.4rem;
  }

  .page-header .container {
    width: 100%;
  }

  .page-header__closed .navigation__list {
    display: none;
  }

  .page-header__nojs .navigation__button {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .navigation {
    grid-template-columns: 0.8fr 1fr;
  }

  .navigation__logo {
    margin: 0;
    padding: 22px 0 17px;
    grid-column: 1;
  }

  .navigation__logo-image {
    width: 113px;
    height: 46px;
  }

  .navigation__button {
    display: none;
  }

  .navigation__list {
    margin: 0;
  }

  .navigation__item {
    padding: 29px 0 26px;
    box-shadow: none;
  }

  .navigation__cart {
    padding-left: 33px;
  }

  .navigation__cart--text {
    margin-left: 25px;
  }

  .site-navigation {
    display: grid;
    position: absolute;
    top: 80px;
    gap: 1.8rem;
    grid-template-columns: 1fr 1fr;
    letter-spacing: -1px;
    z-index: 1;
  }

  .site-navigation .navigation__item {
    padding: 26px 0;
  }

  .user-navigation {
    display: grid;
    grid-template-columns: 0.65fr 2fr;
    grid-column: 2/4;
    margin-left: auto;
  }

  .user-navigation .navigation__item {
    margin: auto 0;
    border-left: 1px solid $red-light;
  }

  .navigation__search-text {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .navigation {
    grid-template-columns: 1fr 0.5fr 1fr;
  }

  .navigation__logo {
    margin: 0 auto;
    padding: 9px 0 4px;
    order: 2;
    grid-column: auto;
  }

  .navigation__logo-image {
    width: 149px;
    height: 72px;
  }

  .site-navigation .navigation__item {
    border-right: 1px solid $red-light;
    text-align: start;
  }

  .navigation__list {
    grid-column: auto;
  }

  .site-navigation {
    display: grid;
    position: relative;
    top: 0;
    grid-template-columns: 0.9fr 1fr;
    gap: 2rem;
  }

  .user-navigation {
    order: 3;
  }

  .navigation__cart {
    padding-left: 29px;
  }

  .navigation__cart--text {
    margin-left: 29px;
  }
}
