.navigation-additional__inner {
  background-color: $anti-flash-white;
}

.navigation-additional__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-additional__link {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: $black;
}

.navigation-additional__description {
  @include text;
  display: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  color: $gray-dark;
}

.navigation-additional__title {
  @include title;
  margin: 0;
  margin-bottom: 30px;
  padding: 74px 42px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: $anti-flash-white;
}

@media (min-width: $tablet-width) {
  .navigation-additional {
    padding-top: 21px;
  }

  .navigation-additional__item .navigation__link {
    font-size: 15px;
  }

  .navigation-additional__description {
    display: flex;
    margin-left: auto;
    grid-column: -1;
  }
}

@media (min-width: $desktop-width) {
  .navigation-additional {
    grid-template-columns: 1fr 1fr;
  }

  .navigation-additional__item .navigation__link {
    font-size: 17px;
  }

  .info-navigation {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 7%;
  }

  .navigation-additional__description {
    grid-column: 3;
  }
}
