.order__form {
  margin-bottom: 55px;
}

.order__form__title {
  margin: 0;
  margin-bottom: 68px;
  padding: 73px 0;
  @include title;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: $anti-flash-white;
}

.order__form-text {
  margin-top: 17px;
  margin-bottom: 29px;
  @include text;
  font-size: 13px;
  line-height: 24px;
  color: $gray-dark;
}

.order__form--filter {
  display: grid;
}
