.order__form {
  margin-bottom: 55px;
}

.order__form-text {
  margin: 17px 0 29px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $gray-dark;
}

.filter-group__list {
  list-style: none;
}

.filter__text {
  margin-bottom: 30px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $gray-dark;
}
