.page-footer {
  background-color: $anti-flash-white;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  margin-top: 25px;
  margin-bottom: 58px;
  padding-bottom: 30px;
  border-bottom: 1px solid $gray;
}

.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.social__link {
  width: 28px;
  height: 22px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 22px;
}

.copyright__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}

.copyright__link--icon {
  color: $green;
}
