.page-header__nav {
  position: relative;
}

.page-header__nav-inner {
  box-shadow: inset 0 1px 0 $red-light;
  background-color: $gray-extra-light;
}

.page-header-inner {
  background-color: $anti-flash-white;
}

.page-header__closed .navigation__button::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 6px 0 0 $black, 0 12px 0 $black;
}

.page-header__opened .navigation__button {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: -3px;
    width: 26px;
    height: 2px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .page-header .container {
    width: 100%;
  }

  .page-header__closed .navigation__list {
    display: none;
  }

  .page-header__nojs .navigation__button {
    display: none;
  }

  .page-header__nojs .navigation__list {
    display: block;
    position: relative;
    top: 0;
  }
}
