.page-footer {
  background-color: $anti-flash-white;
  cursor: pointer;
}

.page-footer__logo {
  display: none;
}

.page-footer__logo-icon {
  color: $black;
}

.page-footer__logo-icon:hover {
  color: $palegreen;
}

.page-footer__logo-icon:active {
  color: $palegreen;
  opacity: 0.3;
}

.page-footer__social {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 58px;
  padding-bottom: 30px;
  border-bottom: 1px solid $gray;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 51px 0 58px;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__social {
    margin: 0 auto;
    padding: 0;
  }
}
