.page-footer {
  background-color: $anti-flash-white;
  cursor: pointer;
}

.page-footer__logo {
  display: none;
}

.page-footer__logo-icon {
  fill: $black;
}

.page-footer__logo-icon:hover {
  fill: $palegreen;
}

.page-footer__logo-icon:active {
  fill: $palegreen;
  opacity: 0.3;
}

.page-footer__social {
  width: 100%;
  margin-top: 27px;
  margin-bottom: 18px;
  padding-bottom: 27px;
  border-bottom: 1px solid $gray;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  gap: 9%;
  align-items: center;
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 53px;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__social {
    margin: 0 auto;
    margin-right: 10px;
    padding: 0;
  }
}
