.production {
  margin-bottom: 58px;
}

.production__container {
  padding-bottom: 33px;
  border: 1px solid $red-light;
}

.production__container:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.production__container:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.production__title {
  @include title;
  position: relative;
  margin: 21px auto 26px;
  width: min-content;
  font-size: 17px;
  line-height: 24px;
  color: $black;
}

.production__title:hover {
  opacity: 0.6;
}

.production__title:active {
  opacity: 0.3;
}

.production__title::before {
  position: absolute;
  top: 0;
  left: -50px;
  bottom: 0;
  width: 55px;
  height: 38px;
  content: "";
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
}

.production__video {
  position: relative;
  margin: 0 auto;
  margin-bottom: 35px;
}

.production__video-image {
  width: 100%;
  height: 100%;
}

.production__button-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  background-color: transparent;
  border: none;
}

.production__button-play:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

.production__button-play:active {
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0.3;
}

.button-play__icon {
  cursor: pointer;
  color: $white;
}

.production__text {
  @include text;
  padding: 0 34px 41px;
  font-size: 13px;
  line-height: 24px;
  color: $gray-dark;
}

.production__button {
  @include title;
  width: auto;
  height: max-content;
  margin: 0 34px;
  padding: 18px 11px;
  font-size: 18px;
  text-align: center;
  line-height: 16px;
  color: $gray-dark;
}

@media (min-width: $tablet-width) {
  .production__container {
    display: grid;
  }

  .production__video {
    width: 100%;
    grid-row: 1;
  }

  .production__title {
    width: auto;
    margin: 0 42px 26px 90px;
    font-size: 20px;
  }

  .production__text {
    padding: 0 42px 40px;
    font-size: 17px;
  }

  .production__button {
    width: auto;
    margin: 0 42px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .production {
    grid-template-columns: 2fr 1fr;
  }

  .production__container {
    padding: 0;
    column-gap: 30px;
    grid-template-columns: 2fr 1fr;
  }

  .production__title {
    width: min-content;
    margin-top: 96px;
    margin-left: 42px;
  }

  .production__title::before {
    top: -60px;
    left: 0;
  }

  .production__text {
    font-size: 15px;
  }

  .production__video {
    height: 100%;
    margin-bottom: 0;
    grid-row: 1 / 4;
  }

  .production__video-image {
    max-height: 455px;
  }

  .production__button {
    margin-bottom: 60px;
  }
}
