.reviews {
  margin-bottom: 89px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 14px;

  @include title;
  font-size: 25px;
}

.reviews__list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.reviews__item:not(:first-child) {
  display: none;
}

.reviews__button--slider {
  display: flex;
  justify-content: center;
  margin-bottom: 54px;
}

.slider-button__icon {
  color: $black;
}

.slider-button__prev,
.slider-button__next {
  width: 100%;
  border: 1px solid $red-light;
  cursor: pointer;
}

.reviews__button {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .reviews {
    background: $white url("../img/lace.jpg") no-repeat;
    background-position: 0%;
  }

  .reviews__container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr max-content;
    padding: 82px 0 57px;
    row-gap: 10%;
  }

  .reviews__list {
    position: relative;
    grid-column: 1/3;
    grid-row: 2;
  }

  .reviews__button--slider {
    grid-column: 2;
    grid-row: 2;
    height: max-content;
    max-width: 175px;
    margin-top: 90%;
    z-index: 1;
  }

  .slider-button__prev,
  .slider-button__next {
    padding: 0;
    border: none;
  }

  .reviews__button {
    grid-row: 1;
    grid-column: 2;
    max-width: 175px;
  }
}
