.reviews {
  margin-bottom: 89px;
}

.reviews__title {
  @include title;
  margin: 0;
  margin-bottom: 14px;
  font-size: 25px;
}

.reviews__list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.reviews__item:not(:first-child) {
  display: none;
}

.reviews__button--slider {
  display: flex;
  justify-content: center;
  margin-bottom: 54px;
}

.slider-button__icon {
  color: $black;
}

.slider-button__prev,
.slider-button__next {
  width: 100%;
  padding: 13px 0;
  background: transparent;
  border: 1px solid $red-light;
  cursor: pointer;
}

.slider-button__prev:hover,
.slider-button__next:hover {
  opacity: 0.6;
}

.slider-button__prev:active,
.slider-button__next:active {
  opacity: 0.3;
}

.reviews__button {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .reviews {
    position: relative;
    margin-bottom: 130px;
    background: $white url("../img/lace-tablet.jpg") no-repeat;
    background-position: 0%;
  }

  @media (min-resolution: 2dppx) {
    .reviews {
      background-image: url("../img/lace-tablet@2x.jpg");
      background-size: auto;
    }
  }

  .reviews::after {
    content: "";
    position: absolute;
    bottom: -55px;
    left: 0;
    width: 100%;
    height: 24px;
    background-image: url("../img/icon-line.png");
    background-repeat: repeat-x;
  }

  .reviews__container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr max-content;
    padding: 82px 0 57px;
    row-gap: 10%;
  }

  .reviews__title {
    font-size: 43px;
  }

  .reviews__list {
    position: relative;
    grid-column: 1/3;
    grid-row: 2;
  }

  .reviews__item .user-quote__text {
    font-size: 17px;
  }

  .reviews__button--slider {
    grid-column: 2;
    grid-row: 2;
    height: max-content;
    max-width: 175px;
    margin-top: 90%;
    z-index: 1;
  }

  .slider-button__prev,
  .slider-button__next {
    padding: 0;
    border: none;
  }

  .reviews__button {
    grid-row: 1;
    grid-column: 2;
    max-width: 175px;
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    margin-bottom: 161px;
    background: $white url("../img/lace-desktop.jpg") no-repeat;
    background-size: 40%;
    background-position: 0%;
  }

  @media (min-resolution: 2dppx) {
    .reviews {
      background-image: url("../img/lace-desktop@2x.jpg");
      background-size: auto;
    }
  }

  .reviews__container {
    padding: 78px 0 96px;
    padding-left: 176px;
  }

  .reviews__title {
    font-size: 53px;
  }
}
