.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 11%;
  list-style: none;
}

.social__link {
  width: 28px;
  height: 22px;
}

.social__link-icon {
  fill: $black-ivory;
}

.social__link-icon:hover {
  fill: $palegreen;
}

.social__link-icon:active {
  fill: $palegreen;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .page-footer__social {
    border: none;
  }

  .social__list {
    gap: 8%;
  }
}
