.things-cute {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: auto;
  margin-bottom: 32px;
  background-color: $gray-extra-light;
  background-image: url("../img/home-for-toys-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -2px;
  min-height: 489px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/home-for-toys-mobile@2x.jpg");
    background-size: contain;
    background-position: center 4px;
  }
}

.things-cute__title {
  @include title;
  margin: 23% auto;
  text-align: center;
  font-size: 27px;
}

.things-cute__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $palegreen;
}

.things-cute__item {
  background-color: $green;
}

.things-cute__link {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 6px 30px 11px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  color: $white;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
}

.things-cute__text {
  width: min-content;
}

.things-cute__icon {
  margin: auto 0;
  color: #149080;
  opacity: 0.5;
}

.icon-interior {
  margin-right: 6px;
  margin-top: 8%;
}

.things-cute__item:hover {
  transform: translateY(-5px);
  background-color: $sweet-garden;
  box-shadow: 0 5px $sweet-garden;

  .things-cute__icon {
    opacity: 0.7;
  }
}

.things-cute__item:active {
  transform: translateY(-5px);
  background-color: $sweet-garden;
  box-shadow: 0 5px $sweet-garden;

  .things-cute__icon {
    opacity: 0.3;
  }
}

.things-cute__item:nth-child(2n) {
  background-color: $green-dark;
  box-shadow: none;
}

.things-cute__item:nth-child(2n):hover {
  background-color: $palegreen;
}

.things-cute__item:nth-child(2n):active {
  background-color: $palegreen;
}

.things-cute__container {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .things-cute {
    position: relative;
    min-height: 705px;
    margin-bottom: 47px;
    background-image: url("../img/home-for-toys-tablet.jpg");
    background-size: auto;
    background-position: center bottom 5px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/home-for-toys-tablet@2x.jpg");
      background-size: contain;
      background-position: center bottom 40px;
    }

    .things-cute__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
    }

    .things-cute__list::after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: -15px;
      width: 100%;
      height: 24px;
      background-image: url("../img/icon-zigzag.png");
      background-repeat: repeat-x;
    }
  }

  .things-cute__title {
    max-width: 530px;
    margin: 15% auto;
    font-size: 43px;
    line-height: 50px;
  }

  .things-cute__title br {
    display: none;
  }

  .things-cute__item {
    flex-wrap: wrap;
    font-size: 20px;
  }

  .things-cute__link {
    padding: 8px 25px 17px 42px;
    letter-spacing: 0.5px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .things-cute {
    position: relative;
    margin-bottom: 53px;
    background-image: url("../img/home-for-toys-desktop.jpg");
    background-size: auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/home-for-toys-desktop@2x.jpg");
      background-size: auto;
    }
  }

  .things-cute__list::after {
    background-image: url("../img/icon-zigzag-desktop.png");
  }

  .things-cute__title {
    max-width: 630px;
    margin: 7.1rem auto;
    font-size: 53px;
    line-height: 57px;
  }

  .things-cute__link {
    padding: 8px 25px 18px 38px;
  }

  .things-cute__text {
    max-width: fit-content;
  }

  .icon-interior {
    margin-top: 23px;
    margin-right: 12px;
  }

  .icon-toy {
    margin-top: 23px;
    margin-right: 10px;
  }
}
