.things-cute {
  margin-bottom: 31px;
  background: $gray-extra-light url("../img/home-for-toys-mobile.jpg") no-repeat;
  background-position: 50% -77px;
  background-size: cover;
}

.things-cute__title {
  @include title;
  max-width: 220px;
  margin: 0 auto;
  padding-top: 170px;
  padding-bottom: 200px;
  text-align: center;
  font-size: 27px;
}

.things-cute__list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.things-cute__item {
  display: flex;
  justify-content: space-between;
  padding: 23px 30px 18px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: $white;
  background-color: $green;
}

.things-cute__text {
  width: min-content;
}

.things-cute__item:hover {
  margin-top: -5px;
  background-color: $sweet-garden;
}

.things-cute__item:nth-child(2n) {
  background-color: $green-dark;
}

.things-cute__item:nth-child(2n):hover {
  background-color: $palegreen;
}

.things-cute__container {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .things-cute {
    position: relative;
    background-image: url("../img/home-for-toys.jpg");
    background-size: auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/home-for-toys-desktop.jpg");
      background-size: auto;
    }

    .things-cute__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
    }

    .things-cute__list::after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 100%;
      height: 24px;
      background-image: url("../img/icon-zigzag.png");
      background-repeat: repeat-x;
    }
  }

  .things-cute__title {
    max-width: 500px;
    padding-top: 109px;
    padding-bottom: 372px;
    font-size: 43px;
    line-height: 50px;
    background-position: 50% 58px;
  }

  .things-cute__item {
    flex-wrap: wrap;
    font-size: 20px;
  }
}
