.things-cute {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: auto;
  margin-bottom: 31px;
  background: $gray-extra-light url("../img/home-for-toys-mobile.jpg") no-repeat;
  background-position: center 35px;
  min-height: 570px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/home-for-toys-mobile@2x.jpg");
    background-size: auto;
  }
}

.things-cute__title {
  @include title;
  max-width: 220px;
  margin: auto;
  text-align: center;
  font-size: 27px;
}

.things-cute__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $palegreen;
}

.things-cute__item {
  background-color: $green;
}

.things-cute__link {
  display: flex;
  justify-content: space-between;
  padding: 23px 30px 18px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  color: $white;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
}

.things-cute__text {
  width: min-content;
}

.things-cute__item:hover {
  transform: translateY(-5px);
  background-color: $sweet-garden;
}

.things-cute__list .things-cute__item:hover {
  background-color: $sweet-garden;
}

.things-cute__item:nth-child(2n) {
  background-color: $green-dark;
}

.things-cute__item:nth-child(2n):hover {
  background-color: $palegreen;
}

.things-cute__container {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .things-cute {
    position: relative;
    min-height: 690px;
    background-image: url("../img/home-for-toys-tablet.jpg");
    background-size: auto;
    background-position: center bottom 5px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/home-for-toys-tablet@2x.jpg");
      background-size: auto;
    }

    .things-cute__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
    }

    .things-cute__list::after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 100%;
      height: 24px;
      background-image: url("../img/icon-zigzag.png");
      background-repeat: repeat-x;
    }
  }

  .things-cute__title {
    max-width: 500px;
    font-size: 43px;
    line-height: 50px;
  }

  .things-cute__item {
    flex-wrap: wrap;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .things-cute {
    position: relative;
    background-image: url("../img/home-for-toys-desktop.jpg");
    background-size: auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/home-for-toys-desktop@2x.jpg");
      background-size: auto;
    }
  }
}
