// @mixin visually-hidden() {
//     position: absolute;
//     width: 1px;
//     height: 1px;
//     margin: -1px;
//     padding: 0;
//     border: 0;
//     white-space: nowrap;
//     clip-path: inset(100%);
//     clip: rect(0 0 0 0);
//     overflow: hidden;
// }

// @mixin title {
//     font-family: inherit;
//     font-style: normal;
//     font-weight: 700;
//     line-height: 30px;
  
//     color: $black;
// }

@mixin text {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;

    color: $gray-dark;
}