html {
  height: 100%;
}

// .container {
//     margin: 0 auto;
// }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;

  color: $black;
}

.link {
  text-decoration: none;
}

.button {
  padding: 16px 70px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: $gray-dark;
  background: $white;
  border: 2px solid $gray-dark;
  text-decoration: none;
}
