.button {
  display: block;
  padding: 16px 70px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: $gray-dark;
  background: $white;
  border: 2px solid $gray-dark;
  text-decoration: none;
}

.button:hover {
  background: $gray-dark;
  border: 2px solid $gray-dark;
  color: $white;
}

.button:active {
  background: $gray-dark;
  border: 2px solid $gray-dark;
  color: $white-opacity-extra;
}
