$white: #ffffff;
$white-opacity: rgba(255, 255, 255, 90%);
$black: #000000;
$black-medium: rgba(0, 0, 0, 0.6);
$black-light: rgba(0, 0, 0, 0.3);
$black-extra-light: rgba(0, 0, 0, 0.2);
$green-dark: #56c3b2;
$green: #63d1bb;
$green-light: rgba(99, 209, 187, 0.3);
$palegreen: #46c1ae;
$palegreen-light: #62d1ba;
$green-extra-light: rgba(99, 209, 187, 0.3);
$gray-dark: #444444;
$gray: #e5e5e5;
$gray-light: #ececec;
$gray-extra-light: #c6c6c6;
$anti-flash-white: #f1f1f1;
