$white: #ffffff;
$white-opacity: rgba(255, 255, 255, 90%);
$white-opacity-extra: rgba(255, 255, 255, 30%);
$black: #000000;
$black-ivory: #231f20;
$black-medium: rgba(0, 0, 0, 0.6);
$black-light: rgba(0, 0, 0, 0.3);
$black-extra-light: rgba(0, 0, 0, 0.2);
$red-light: #ececec;
$sweet-garden: #59d5bc;
$green-dark: #56c3b2;
$green: #63d1bb;
$green-light: rgba(99, 209, 187, 0.3);
$palegreen: #46c1ae;
$palegreen-opacity: rgba(70, 193, 174, 10%);
$palegreen-light: #62d1ba;
$green-extra-light: rgba(99, 209, 187, 0.3);
$gray-dark: #444444;
$gray: #e5e5e5;
$gray-light: #c6c6c6;
$gray-extra-light: #f9f9f9;
$anti-flash-white: #f1f1f1;
